<a href="https://colab.research.google.com/github/Sukhwinder2205/Sukh/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hi, Iam here")
a=5
b=6
print("The Sum is:",a+b)
print("The Subtraction is:",a-b)
print("Division:",a/b)
print("Multiplication:",a*b)
print("Remainder is:",a%b)


print(f"Sum is :{a+b}")



item1="Samosa"
price_of_item1=50
item2="Pizza"
price_of_item2 = 500
item3="Burger"
price_of_item3= 50
Total_bill = price_of_item1 + price_of_item2 + price_of_item3
print(f"Total bill is: {Total_bill}")

Hi, Iam here
The Sum is: 11
The Subtraction is: -1
Division: 0.8333333333333334
Multiplication: 30
Remainder is: 5
Sum is :11
Total bill is: 600

In [ ]:
item1="Samosa"
price_of_item1=50
item2="Pizza"
price_of_item2 = 500
item3="Burger"
price_of_item3= 50
Total_bill = price_of_item1 + price_of_item2 + price_of_item3
print(f"Total bill is: {Total_bill}")
discount = Total_bill*25/100
print(f"total bill after Discount : {Total_bill-discount}")

Total bill is: 600
total bill after Discount : 450.0

Billing Project

In [ ]:
itm1 = "Burger"
itm2 = "Sandwhich"
itm3 = "Hot Dog"
itm4 = "Pizza"
price_of_itm1 = 50
price_of_itm2 = 70
price_of_itm3 = 40
price_of_itm4 = 250
Total_bill = price_of_itm1 + price_of_itm2 + price_of_itm3 + price_of_itm4
print(f"Total bill : {Total_bill}")
discount = (Total_bill*15/100)
print("Discount price is :",discount)
print(f"total bill after Discount is : {Total_bill-discount}")

Total bill : 410
Discount price is : 61.5
total bill after Discount is : 348.5

Date-25/11/2025

**Simple interest**

In [ ]:
 p= 200
 r = 10
 t = 2
 SI = p*r*t/100
 print(f"SI is : {SI}")

SI is : 40.0

In [ ]:
 P = int(input("Enter principle amount : "))
 r = int(input("Enter rate : "))
 t = int(input("Enter time : "))
 Simple_interest = P*r*t/100
 print(f"Simple Interest is: {Simple_interest}")
 Total_pay = P + Simple_interest
 print(f"Total Pay {Total_pay}")

Enter principle amount : 50
Enter rate : 5
Enter time : 10
Simple Interest is: 25.0
Total Pay 75.0

In [ ]:
Name = input("Enter Your Name :")
Age = int(input("Enter your age : "))
Sex = input("Gender : ")
D_O_B = input("Enter your D.O.B :")
Mail = input("Enter your mail :")
print(f"Name :{Name}")
print(f"Age :{Age}")
print(f"Gender : {Sex}")
print(f"Date of birth: {D_O_B}")
print(f"Enter your e-mail :{Mail}")

Enter Your Name :Sukh
Enter your age : 23
Gender : Male
Enter your D.O.B :22/06/2002
Enter your mail :rallsukhwinder47@gmail.com
Name :Sukh
Age :23
Gender : Male
Date of birth: 22/06/2002
Enter your e-mail :rallsukhwinder47@gmail.com

In [ ]:
itm1 = "Pizza"
itm2 = "Burger"
itm3 =  "Hotdog"
Price_of_itm1 = int(input("Enter Pizza Price : "))
Price_of_itm2 = int(input("Enter Burger Price : "))
Price_of_itm3 = int(input("Enter Hotdog Price : "))
Total_price = Price_of_itm1 + Price_of_itm2 + Price_of_itm3
print(f"Total Price is : {Total_price}")
discount = Total_price*20/100
print(f"discount price is :{discount}")
print(f"Payable Amount after Discount : {Total_price-discount}")

Enter Pizza Price : 300
Enter Burger Price : 100
Enter Hotdog Price : 50
Total Price is : 450
discount price is :90.0
Payable Amount after Discount : 360.0

**Date - 26/11/2025**

**If elif else**

In [ ]:
num = 50
if num>0:
  print("It is +ve number")
elif num==0:
  print("It is Zero")
else:
  print("It is -ve Number")

It is +ve number

**Grading system**

In [ ]:
marks = int(input("Enter your marks : "))
if marks>=95:
  print("You Score A+ Grade")
elif marks>=90:
  print("You Score A grade")
elif marks>=85:
  print("You Score B+ grade")
elif marks>=80:
  print("You Score B grade")
elif marks>=75:
  print("You Score C+ grade")
elif marks>=70:
  print("You Score C grade")
elif marks>=65:
  print("You Score D+ grade")
elif marks>=60:
  print("You Score E+ grade")
elif marks>=55:
  print("You Score E grade")
elif marks>=50:
  print("Pass")
else:
  print("fail")

Enter your marks : 50
Pass

**ODD || EVEN**

In [ ]:
num = int(input("Enter number : "))
if num%2==0:
  print("It is Even number")
else:
  print("It is Odd number")

Enter number : 63
It is Odd number

**Assignment**

In [ ]:
number = 5328650
if number%5==0:
  print("It is diviible by 5")
else:
  print("It is not divisible by 5")

It is diviible by 5

**(1) Weekday - weekend: find the day is weekend or weekday.**

In [ ]:
Day = input("Enter Day name : ")
if Day=="Monday":
  print("Weekday")
elif Day=="Tuesday":
  print("Weekday")
elif Day=="Wednesday":
  print("Weekday")
elif Day=="Thursday":
  print("Weekday")
elif Day=="Friday":
  print("Weekday")
elif Day=="Saturday":
  print("Weekend")
else:
  print("Weekend")

Enter Day name : Monday
Weekday

**Date - 27/11/2025**

**And  or**

In [ ]:
day = input("Enter your day : ")
if day =="Monday" or day =="Tuesday" or day =="Wednesday" or day =="Thursday" or day =="Friday":
  print("Weekday")
elif day=="Saturday" or day=="Sunday":
  print("Weekend")
else:
  print("You entered Wrong Data")

Enter your day : Saturday
Weekend

 **Nested if elif**

In [ ]:
Gender = input("Enter your gender: ")
Age = int(input("Enter Your Age: "))
if Gender == "Male":
  print("Your stay in Hotel A")
  if Age>=30:
    print("Yur stay in Hotel A building A1")
  else:
    print("Your stay in Hotel A building A2")

else:
  print("Your Stay in Hotel B")
  if Age>=30:
    print("Yur stay in  Hotel B building B1")
  else:
    print("Your stay in  Hotel B building B2")

Enter your gender: Female
Enter Your Age: 29
Your Stay in Hotel B
Your stay in  Hotel B building B2

**Date-28/11/2025**

In [ ]:
P = 5000
R = 5
T = 2
Simple_Interest = P*R*T/100
print(f"The Simple Interest is : {Simple_Interest}")

The Simple Interest is : 500.0

In [ ]:
p=5000
r=5
t_in_months=3
t_in_days = 20
SI_of_month = p*r*t_in_months/100
Month_time = t_in_days/30

SI_in_Days = p*r*Month_time/100

total_SI = SI_of_month+SI_in_Days


print(f"S.I. in  3 Month : {SI_of_month}")
print(f"S.I. in 20 Days : {SI_in_Days}")
print(f"S.I. in 3 months 20 days is :{total_SI}")

S.I. in  3 Month : 750.0
S.I. in 20 Days : 166.66666666666663
S.I. in 3 months 20 days is :916.6666666666666

In [ ]:
Year = int(input("Enter Your year : "))
if Year%4==0 and Year%100!=0 or Year%400==0:
  print("It is a leap year")
else:
  print("It is not a leap year")

Enter Your year : 2028
It is a leap year

**01 December 2025**

In [ ]:
p=int(input("Enter principle Amount : "))
r=int(input("Enter rate Amount : "))
t=int(input("Enter Time in months : "))
days=int(input("Enter Days : "))
month=input("Enter month name : ")
Year = int(input("Enter year : "))
SI_of_month = p*r*t/100
print(f"Simple interest in month :{SI_of_month} ")
if month =="January" or month=="March" or month=="May" or month=="July" or month=="August" or month=="October" or month== "December":
  days_in_month = 31
elif month =="September" or month=="April" or month=="June" or month=="November":
  days_in_month = 30
else:
  if Year%4==0 and Year%100!=0 or Year%400==0:
    days_in_month = 29
  else:
    days_in_month = 28

Days = days/days_in_month
SI_of_days = p*r*Days/100
print(f"SI in days : {SI_of_days}")
total_SI = SI_of_month + SI_of_days
print(f"Total simple interest : {total_SI}")

Enter principle Amount : 5000
Enter rate Amount : 5
Enter Time in months : 5
Enter Days : 14
Enter month name : Febrary
Enter year : 2024
Simple interest in month :1250.0
SI in days : 120.68965517241381
Total simple interest : 1370.6896551724137

In [ ]:
x = 525
if 525%25==0 or 525%50==0:
  print("It is Divisible by 25 or 50 ")
else:
  print("It is not divisible by 25 or 50")

It is Divisible by 25 and 50

In [ ]:
x=255
if 255%5==0 and 255%51==0:
  print("It is Divisible by 5 and 51 ")
else:
  print("It is not divisible by 5 and 51")

It is Divisible by 5 and 51

In [ ]:
num=int(input("Enter number : "))
if   num%2==0 or num%3==0 or   num%5==0 or num%6==0:
  print("It is a factor of any 2,3,5,6")
else:
  print("It is not a factor of any 2,3,5,6")

Enter number : 49
It is not a factor of any 2,3,5,6

**2 December 2025**

**Traffic Light**

In [ ]:
Incoming_dir = input("Enter incoming direction : ")

if Incoming_dir=="SI":
  print("Closed direction : WI, NI, EI")
elif Incoming_dir=="EI":
  print("Closed direction : WI, NI, SI")
elif Incoming_dir=="WI":
  print("Closed Direction : NI, SI, EI")
else:
  print("Closed Direction : SI, WI, EI")
print("Open Direction is : NO ,EO, SO, WO")

Enter incoming direction : WI
Closed Direction : NI, SI, EI
Open Direction is : NO ,EO, SO, WO

**03 December 2025**

In [ ]:
incoming_dir = input("Enter incoming direction : ")
R1 = input("Enter R1 is open or close : ")
print("OPen direction : NO,Wo,SO,EO")
if incoming_dir == "SI":
  print("closed direction : WI,EI,r1")
  if R1 == "Close":
    print("Closed direction : WI,EI,R1,R2")
    print("open Direction : WO,NO,NI,EO,SO")
  else:
    print("Open direction When R1 is open : NO,EO,WO")
    print("Close Direction When R1 is open: NI,WI,EI")
elif incoming_dir == "WI":
  print("Closed direction : NI,SI,EI")
  if R1 == "Close":
    print("Closed direction : SI,EI,R1,R2")
    print("open Direction : WO,NO,NI,EO,SO")
  else:
    print("Open direction When R1 is open : NO,EO,WO")
    print("Close Direction When R1 is open: NI,SI,EI")
elif incoming_dir == "EI":
  print("Closed direction : NI,SI,WI")


else:
  print("Closed direction : EI,SI,WI")
  if R1 == "Close":
    print("Closed direction : SI,EI,R1,R2")
    print("open Direction : WO,NO,NI,EO,SO")
  else:
    print("Open direction When R1 is open : NO,EO,WO")
    print("Close Direction When R1 is open: NI,SI,EI")

Enter incoming direction : SI

**04/12/2025**

**Loops**

In [ ]:
for i in range(10):
  print("Hello")

Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello

In [ ]:
for i in range (10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
for i in range(1,10):
  print(i)

1
2
3
4
5
6
7
8
9

In [ ]:
for i in range(1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

***in this code range(starting position,ending position-1,to add difference)***

In [ ]:
for i in range(1,101,2):
  print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

In [ ]:
for i in range(10,0,-1):
  print(i)

10
9
8
7
6
5
4
3
2
1

In [ ]:
for i in range(2,21,2):
  print(i)

2
4
6
8
10
12
14
16
18
20

In [ ]:
for i in range(1,20,2):
  print(i)

1
3
5
7
9
11
13
15
17
19

In [ ]:
for i in range(5,34,4):
  print(i)

5
9
13
17
21
25
29
33

In [ ]:
for i in range(2,33,6):
  print(i)

2
8
14
20
26
32

In [ ]:
for i in range(3,72,17):
  print(i)

3
20
37
54
71

In [ ]:
for i in range(1,21):
  if i%2!=0:
    print(i)

1
3
5
7
9
11
13
15
17
19

In [ ]:
for i in range(1,21):
  if i%2==0:
    print(i)

2
4
6
8
10
12
14
16
18
20

In [ ]:
sum=0
for i in range(1,11):
  sum=sum+i
  print(sum)

1
3
6
10
15
21
28
36
45
55

**05/12/2025**

In [ ]:
sum=0
for i in range(1,100):
  if i%2!=0:
    sum=sum+i
print(sum)

2500

In [ ]:
sum=0
for i in range(2,101):
  if i%2==0:
    sum=sum+i
print(sum)

2550

In [ ]:
sum=0
for i in range(2,19,4):
  sum=sum+i
print(sum)

50

In [ ]:
sum=0
for i in range(8,24,3):
  sum=sum+i
print(sum)

93

***Fictorial***

In [ ]:
fact=1
for i in range(1,6):
  fact=fact*i
print(fact)

120

In [ ]:
n=int(input("find fictorial of : "))
fact=1
for i in range(1,n+1):
  fact=fact*i
print(f"the fictorial of {n} is {fact}")

find fictorial of : 7
the fictorial of 7 is 5040

In [ ]:
fact=1
sum=0
n=int(input("enter number : "))
for i in range(1,n+1):
  fact=fact*i
  print(fact)
  sum=sum+fact
print("The sum is :",sum)

enter number : 5
1
2
6
24
120
The sum is : 153

In [ ]:
fact=1
sum=0
for i in range(2,31):
  sum=sum+i

for i in range(1,6):
  fact=fact*i
total_sum= sum+fact
print(total_sum)

584

**08/12/2025**

1!+3!+5!=?

In [ ]:
fact=1
sum=0
for i in range(1,6):
  fact=fact*i
  if i%2!=0:
    sum=sum+fact
print(sum)

127

In [ ]:
sum=0
for i in range(1,6,2):
  fact=1
  for j in range(1,i+1):
    fact=fact*j
  sum=sum+fact
  print(sum)

1
7
127

In [ ]:
sum=0
fact=1
for i in range(2,7):
  fact=fact*i
  if i%2==0:
    sum=sum+fact
print(sum)

746

In [ ]:
sum=0
for i in range(2,7,2):
  fact=1
  for j in range(2,i+1):
    fact=fact*j
  sum=sum+fact
  print(sum)

2
26
746

**10/12/2025**

***HCF,LCM***

In [ ]:
a=20
b=50
for i in range(1,a+1):
  if a%i==0 and b%i==0:
    HCF=i
print(f"THe HCF is :{HCF}")
LCM = a*b/HCF
print(f"The LCM is {LCM}")

THe HCF is :10
The LCM is 100.0

In [ ]:
a=961
b=403
for i in range(1,a+1):
   if a%i==0 and b%i==0:
    HCF=i
print(f"THe HCF is :{HCF}")
LCM = a*b/HCF
print(f"The LCM is {LCM}")

THe HCF is :31
The LCM is 12493.0

In [ ]:
a=20
b=50
for i in range(50,a*b+1):
  if i%a==0 and i%b==0:
    LCM=i
    break
print(LCM)

100

In [ ]:
for i in range(1,101):
  if i%5==0:
    print(f"the numbers :{i}")

the numbers :5
the numbers :10
the numbers :15
the numbers :20
the numbers :25
the numbers :30
the numbers :35
the numbers :40
the numbers :45
the numbers :50
the numbers :55
the numbers :60
the numbers :65
the numbers :70
the numbers :75
the numbers :80
the numbers :85
the numbers :90
the numbers :95
the numbers :100

**11/12/2025**

In [ ]:
#prime number
num=int(input("Enter number :"))
is_prime = True
for i in range(2,num):
  if num%i==0:
    is_prime = False
    break
if is_prime:
  print("It is a prime number")
else:
  print("Ir is not a prime number")

Enter number :29
It is a prime number

In [ ]:
# 2nd method to find prime numer
num=int(input("Enter number: "))
for i in range(2,num):
  if num%i==0:
    print("It is not a prime number")
    break
else:
  print("It is a prime number")

Enter number: 45
It is not a prime number

In [ ]:
for num in range(1,101):
  for i in range(2,num):
    if num%i==0:
      break
  else:
    print(num)

1
2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

In [ ]:
num=int(input("Enter number: "))
x=int(num**0.5)+1
for i in range(2,x):
  if num%i==0:
    print("It is not a prime number")
    break
else:
  print("It is a prime number")

Enter number: 29
It is a prime number

In [ ]:
num=int(input("Enter number: "))
if num<1:
  print("It is not a prime number")
else:
 x =int(num**0.5)+1
 for i in range(2,x):
   if num%i==0:
     print("It is not a prime number")
     break
 else:
   print("It is a prime number")

Enter number: 255
It is not a prime number

In [ ]:
# for num in range(1,101):
#   if num<=1:
#     continue
#   else:
#     for i in range(2,num):
#       if num%i==0:
#         break
#     else:
#       print(num)

***While loop***

In [ ]:
num=10
while num>0:
  print(num)
  num=num-1

10
9
8
7
6
5
4
3
2
1

In [ ]:
num=1
while num<=10:
  print(num)
  num=num+1

1
2
3
4
5
6
7
8
9
10

In [ ]:
num=0
while num<20:
  num=num+2
  print(num)

2
4
6
8
10
12
14
16
18
20

**12/12/2025**

In [ ]:
num=1
sum=0
while num<=100:

  sum=sum+num
  num=num+1
print(sum)

5050

In [ ]:
sum=0
num=1
while num<=200:
  sum=sum+num
  num=num+7
print(sum)

2871

In [ ]:
num=5678
sum=0
while num>0:
  digit=num%10
  # num=num//10 for using only integer value
  num=num//10
  sum=sum+digit
  print(digit)
print("The sum of digit is:",sum)

8
7
6
5
The sum of digit is: 26

In [18]:
num=5678
rev=0
while num>0:
  digit=num%10
  rev=rev*10+digit
  num = num // 10
  print(rev)

8
87
876
8765

**Date-15/12/2025**

In [7]:
# the sum of 1square+2square+.....10square.
sum=0
for i in range(1,11):
  sum += i**2
  print(sum)

1
5
14
30
55
91
140
204
285
385

In [13]:
# the sum of 1square+2square+.....10square.
sum=0
num=1
while num<11:
  sum=sum+num*num
  num=num+1
print("The sum of square of first ten number is:",sum)

The sum of square of first ten number is: 385

In [23]:
sum=0
num=1
while num<14:
  sum=sum+num*num
  num=num+4
  print(sum)

1
26
107
276

In [25]:
sum=0
for i in range(1,14,4):
  sum+=i**2
  print(sum)

1
26
107
276

In [31]:
sum=0
num=1
while num<10:
  sum=sum+num**1/2
  num=num+1
  print(sum)

0.5
1.5
3.0
5.0
7.5
10.5
14.0
18.0
22.5