<a href="https://colab.research.google.com/github/Sukhwinder2205/Sukh/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hi, Iam here")
a=5
b=6
print("The Sum is:",a+b)
print("The Subtraction is:",a-b)
print("Division:",a/b)
print("Multiplication:",a*b)
print("Remainder is:",a%b)


print(f"Sum is :{a+b}")



item1="Samosa"
price_of_item1=50
item2="Pizza"
price_of_item2 = 500
item3="Burger"
price_of_item3= 50
Total_bill = price_of_item1 + price_of_item2 + price_of_item3
print(f"Total bill is: {Total_bill}")

Hi, Iam here
The Sum is: 11
The Subtraction is: -1
Division: 0.8333333333333334
Multiplication: 30
Remainder is: 5
Sum is :11
Total bill is: 600

In [ ]:
item1="Samosa"
price_of_item1=50
item2="Pizza"
price_of_item2 = 500
item3="Burger"
price_of_item3= 50
Total_bill = price_of_item1 + price_of_item2 + price_of_item3
print(f"Total bill is: {Total_bill}")
discount = Total_bill*25/100
print(f"total bill after Discount : {Total_bill-discount}")

Total bill is: 600
total bill after Discount : 450.0

Billing Project

In [ ]:
itm1 = "Burger"
itm2 = "Sandwhich"
itm3 = "Hot Dog"
itm4 = "Pizza"
price_of_itm1 = 50
price_of_itm2 = 70
price_of_itm3 = 40
price_of_itm4 = 250
Total_bill = price_of_itm1 + price_of_itm2 + price_of_itm3 + price_of_itm4
print(f"Total bill : {Total_bill}")
discount = (Total_bill*15/100)
print("Discount price is :",discount)
print(f"total bill after Discount is : {Total_bill-discount}")

Total bill : 410
Discount price is : 61.5
total bill after Discount is : 348.5

Date-25/11/2025

**Simple interest**

In [ ]:
 p= 200
 r = 10
 t = 2
 SI = p*r*t/100
 print(f"SI is : {SI}")

SI is : 40.0

In [ ]:
 P = int(input("Enter principle amount : "))
 r = int(input("Enter rate : "))
 t = int(input("Enter time : "))
 Simple_interest = P*r*t/100
 print(f"Simple Interest is: {Simple_interest}")
 Total_pay = P + Simple_interest
 print(f"Total Pay {Total_pay}")

Enter principle amount : 50
Enter rate : 5
Enter time : 10
Simple Interest is: 25.0
Total Pay 75.0

In [ ]:
Name = input("Enter Your Name :")
Age = int(input("Enter your age : "))
Sex = input("Gender : ")
D_O_B = input("Enter your D.O.B :")
Mail = input("Enter your mail :")
print(f"Name :{Name}")
print(f"Age :{Age}")
print(f"Gender : {Sex}")
print(f"Date of birth: {D_O_B}")
print(f"Enter your e-mail :{Mail}")

Enter Your Name :Sukh
Enter your age : 23
Gender : Male
Enter your D.O.B :22/06/2002
Enter your mail :rallsukhwinder47@gmail.com
Name :Sukh
Age :23
Gender : Male
Date of birth: 22/06/2002
Enter your e-mail :rallsukhwinder47@gmail.com

In [ ]:
itm1 = "Pizza"
itm2 = "Burger"
itm3 =  "Hotdog"
Price_of_itm1 = int(input("Enter Pizza Price : "))
Price_of_itm2 = int(input("Enter Burger Price : "))
Price_of_itm3 = int(input("Enter Hotdog Price : "))
Total_price = Price_of_itm1 + Price_of_itm2 + Price_of_itm3
print(f"Total Price is : {Total_price}")
discount = Total_price*20/100
print(f"discount price is :{discount}")
print(f"Payable Amount after Discount : {Total_price-discount}")

Enter Pizza Price : 300
Enter Burger Price : 100
Enter Hotdog Price : 50
Total Price is : 450
discount price is :90.0
Payable Amount after Discount : 360.0

**Date - 26/11/2025**

**If elif else**

In [4]:
num = 50
if num>0:
  print("It is +ve number")
elif num==0:
  print("It is Zero")
else:
  print("It is -ve Number")

It is +ve number

**Grading system**

In [12]:
marks = int(input("Enter your marks : "))
if marks>=95:
  print("You Score A+ Grade")
elif marks>=90:
  print("You Score A grade")
elif marks>=85:
  print("You Score B+ grade")
elif marks>=80:
  print("You Score B grade")
elif marks>=75:
  print("You Score C+ grade")
elif marks>=70:
  print("You Score C grade")
elif marks>=65:
  print("You Score D+ grade")
elif marks>=60:
  print("You Score E+ grade")
elif marks>=55:
  print("You Score E grade")
elif marks>=50:
  print("Pass")
else:
  print("fail")

Enter your marks : 50
Pass

**ODD || EVEN**

In [20]:
num = int(input("Enter number : "))
if num%2==0:
  print("It is Even number")
else:
  print("It is Odd number")

Enter number : 63
It is Odd number

**Assignment**

In [22]:
number = 5328650
if number%5==0:
  print("It is diviible by 5")
else:
  print("It is not divisible by 5")

It is diviible by 5

**(1) Weekday - weekend: find the day is weekend or weekday.**